@import '../../style/default.less';
.header {
    background-color: @colorM;
    .header-top {
        height: 60px;
        line-height: 60px;
        padding: 0 20px;
        text-align: right;
        a {
            margin-left: 20px;
        }
    }
    .breadcrumb {
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        border-top: 1px solid #ff1d28b8;
        .breadcrumb-title {
            text-align: center;
            font-size: @fontC;
            &:after{
                position: absolute;
                content: '';
                left: 78px;
                top:39px;
                border-top:9px solid @colorM;
                border-left: 12px solid transparent;
                border-right: 12px solid transparent;
            }
        }
        .weather {
            text-align: right;
            font-size: 5px;
            .date {
                margin-right: 10px;
            }
            .weather-img {
                display: inline-block;
                width: 53px;
                margin-right: 10px;
            }
        }
    }
}