.container {
    display: flex;

    .nav-left {
        width: 15%;
        min-width: 180px;
        height: calc(100vh);
        color: #fff;
        background: #ccc;
    }

    .main {
        display: flex;
        flex-direction: column;
        flex: 1;
        height: calc(100vh);
    }

    .content {
        position: relative;
        padding: 20px;
    }
}